.sidebar .nav>li.nav-header{
    font-size: 13px !important;
}

.navbar-brand {
    width:auto !important;
}



fieldset label,fieldset input{
    font-size: 14px !important;
}

.bwizard-steps li.active, .bwizard-steps li.active:focus, .bwizard-steps li.active:hover {
    background: #f59c1a!important;
}