.sidebar .nav>li.nav-header{
    font-size: 13px !important;
}

.navbar-brand {
    width:auto !important;
}

.form-legend{
    background-color: #242A30;
    color: #FFF;
    padding: 5px;
}

fieldset label,fieldset input{
    font-size: 14px !important;
}